// colors

$color-frost: #e3efef;
$color-primary: #6f747d;
// $color-base: #efeff3;
$color-base: #f9f9ff;
// $color-lower: #f9f9ff;
$color-white: #fff;
$color-secondary: #aab2bb;
$color-black: #4a4545;
$color-action: #efeff3;
$color-blue: #0d6efd;
$color-clickable: #e9ecef;

// sizes
$leftMenuWidth: 2.8rem;
$leftMenuExpandedWidth: 12.5rem;
$borderRadius: 1.05rem;
$borderRadiusMedium: .75rem;
$borderRadiusSmall: .5rem;